<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>

<body>
  <form method="post">
    <input type="text" name="text">
    <textarea name="body" id="" cols="30" rows="7"></textarea>
    <button type="submit">Submit</button>
  </form>
</body>

</html>